@import "../../assets/style/var";

.header {
  background-color: #fff;
  padding: 15px 50px 15px 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  &__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    &--icon {
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #f7f7fc;
      justify-content: center;
      color: $color;
      border-radius: 8px;
      font-size: 18px;
      margin-right: 8px;
    }
  }
  &__notif,
  &__likes {
    margin-left: auto;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 8px;
    transition: 0.3s ease;
    font-size: 18px;
    &:hover {
      background-color: $color;
      color: #fff;
    }
    &__notif {
      margin-left: 0;
    }
  }
  &__notif {
    margin-left: 0;
  }
  &__profile {
    display: flex;
    align-items: center;
    &--img {
      @include bg;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 16px;
    }
    &--name {
      display: block;
      font-weight: 700;
      color: #000;
      font-size: 16px;
      margin-bottom: 3px;
    }
    &--email {
      color: #9a9ab0;
      font-size: 12px;
    }
  }
}
