.search{
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    &__btn{
        width: 24px;
        height: 24px;
        font-size: 22px;
        margin-right: 8px;
    }
    &__inp{
        flex-basis: 100%;
    }
}