@import "../../assets/style/var";
.nav {
  height: calc(100vh - 80px);
  background-color: #fff;
  width: 256px;
  padding: 32px 16px;
  a {
    padding: 16px;
    display: block;
    align-items: center;
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 16px;
    border-radius: 8px;
    &:hover,
    &.active {
      background-color: $color;
      color: #fff;
      i {
        color: #fff;
      }
    }
    i {
      margin-right: 16px;
      color: #9a9ab0;
    }
  }
}
.spinner {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
